body{
    font-family:'Montserrat' !important;
    color: #fff;

}

#title {
    background-color: #ff4c68;
    
}

h1{ 
    font-family:'Montserrat', sans-serif !important;
    font-size: 5rem !important;
    line-height: 1.5 !important;
    color: #fff;
}

.container-fluid {
    padding: 3% 15% 3% 15%;
    

} 

.rotate{
    transform: rotate(30deg);
    width: 50% !important;
    position: relative;
    z-index: 0;
    left: 50px;
}

.navbar-brand{
    font-family: 'Montserrat', sans-serif !important;
    font-size: 2.5rem !important;
    font-weight:bold !important;    
}

.nav-item{
    padding: 0 18px !important;
}

.download-button{
    margin: 5% 3% 5% 0
}

h3{
    font-family: Montserrat-bold !important;
    font-size: 1.5rem;
    text-align: center;
}

h2{
    font-family: Montserrat-bold ;
    font-size: 2.5rem !important;
    
}

p{
    color: #8f8f8f;
    
}


.features-icon{
    color: #ef8172;
    padding-bottom: 5%;
}

.box{
    padding:5% 13%;
    text-align: center;
}
.features-row{
    position: relative;
    z-index: 1;
    background-color: #fff;
    
}

.features-icon:hover{
    color: #ff4c68;
}

#testimonials{
    text-align: center;
    background-color: #ef8172;
    color: #fff; 
}

.testimonial-image{
    border-radius: 100% ;
    padding: 3% 3%;
}

#press{
    background-color: #ef8172;
    text-align: center;
    padding: 0 5% 5% 5%;
    
}

.press-image{
    margin: 10px;
}

.carousel-item{
    padding: 5% 13%;
   
}

#pricing{
    padding:50px;
    text-align: center;
}

@media (max-width: 1028px){
    #title{
        text-align: center;
    }
    .rotate{
        transform: rotate(0);
        position:static;
        text-align: center;
    }

    h1{
        text-align: center !important;
    }
}

#cta{
    text-align: center;
    color: #fff;
    background-color: #ff4c68;
    font-family: Montserrat-black;
    padding: 5% 10%;
}